body {
    background:#303030;
    font-family:'Proxima Nova';
}

.content {
    padding:20px;
    background:#fff;
    height:200px;
    margin-top:20px;
}

#badges * {
    position:relative;
    z-index:2;
}
#badges svg {
    position:absolute !important;
    z-index:1;
    margin-left:-20px;
    margin-top:-20px;
}





